{% extends './base.html' %}

{% block home %}
<header class="page-header page-header-dark b-gradient-primary-to-secondary">
    <div class="page-header-content pt-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-title">Tamir.Io: for your maintenance needs</h1>
                    <p class="page-header-text mb-5">We Have Integrated automation and Maintenance in one platform </p>
                    <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" href="/panel">Dashboard<i class="fas fa-arrow-right ml-1"></i></a>
                    <a class="btn btn-link btn-marketing" href="/logout/?next=/employee/">employee registration</a>
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img class="img-fluid" style="filter: invert(1)" src="/static/assets/img/drawkit/color/header.png" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <h2>our resaults</h2>
                    <p class="lead">We Automated the Procedure of registering and assigning jobs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold text-gray-300">simple design</div>
                <br>
                <div class="h5">Simple</div>
                <p>We've extended and created new utilities to give you more control over your work with minimal custom CSS.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold text-gray-300">0% uptime</div>
                <br>
                <div class="h5">(maybe less)</div>
                <p>We've extended and restyled some default components, and built a suite of new unstable components.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="display-1 font-weight-bold text-gray-300">0 users</div>
                <br>
                <div class="h5">even the dev doesn't use it</div>
                <p>Our example is NOT a perfect reflection of real projects.</p>
            </div>
        </div>
            </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

{% endblock %}
